@use "../../helpers/index" as *;

.review-card {
  --ratingOffsetTop: #{rem(44)};
  display: grid;
  row-gap: rem(40);
  max-width: rem(500);
  margin-inline: auto;

  @include laptop {
    row-gap: rem(30);
  }

  &__author {
    --personCardImgSize: #{rem(60)};

    justify-content: center;

    @include laptop {
      --personCardImgSize: #{rem(50)};
    }
  }

  &__body {
    position: relative;
    padding: fluid(30, 20);
    padding-top: fluid(50, 30);
    color: var(--color-light);
    text-align: center;
  }

  &__rating-view {
    position: absolute;

    top: 0;
    left: 50%;
    translate: -50% -50%;
  }
}
