@use "../../helpers/index" as *;

.bordered-grid {
  --columns: 1;
  --itemPaddingY: #{fluid(80, 40)};

  display: grid;
  grid-template-columns: repeat(var(--columns), auto);

  &--2-cols {
    @include laptop-above {
      --itemPaddingX: #{rem(80)};
    }

    @include mobile-above {
      --itemPaddingX: #{rem(50)};
      --columns: 2;
    }

    .bordered-grid__item {
      &:nth-child(odd) {
        padding-right: var(--itemPaddingX);
      }

      &:nth-child(even) {
        @include full-wv-centered-line(bottom, auto, 100%, 50%);
        padding-left: var(--itemPaddingX);
        border-right: none;
      }

      @include mobile {
        border-right: none;

        &:not(:last-child) {
          border-bottom: var(--border-dark-15);
        }
      }
    }
  }

  &--3-cols {
    --itemPaddingX: #{rem(50)};
    --columns: 3;

    @include tablet {
      --itemPaddingX: #{rem(40)};
      --columns: 2;
    }

    @include mobile {
      --columns: 1;
    }

    &--3-cols-alt {
    }

    .bordered-grid__item {
      padding-block: var(--itemPaddingY);

      /**
        этим кодом мы выбираем элементы из 1-й и 2-й колонки
      */
      @include tablet-above {
        &:nth-child(3n - 2),
        &:nth-child(3n - 1) {
          padding-right: var(--itemPaddingX);
          border-right: var(--border-dark-15);
        }

        /**
          этим кодом мы выбираем элементы из 2-й колонки
      */
        &:nth-child(3n - 1) {
          @include full-wv-centered-line(top);
        }

        /**
          этим кодом мы выбираем элементы из 2-й и 3-й колонки
      */
        &:nth-child(3n),
        &:nth-child(3n - 1) {
          padding-left: var(--itemPaddingX);
        }
      }

      @include tablet {
        &:not(:last-child) {
          border-bottom: var(--border-dark-15);
        }
        /**
        этим кодом мы выбираем элементы из 1-й колонки
    */
        &:nth-child(2n - 1) {
          padding-left: 0;
          padding-right: var(--itemPaddingX);
        }

        /**
        этим кодом мы выбираем элементы из 2-й колонки
    */
        &:nth-child(2n - 2) {
          padding-right: 0;
          padding-left: var(--itemPaddingX);
        }
      }

      @include mobile {
        --itemPaddingX: 0;
      }
    }
  }

  &__item {
    padding-block: var(--itemPaddingY);
  }
}
