@use "../../helpers" as *;

.tag {
  padding: rem(6) rem(10);
  border-radius: rem(4);
  font-weight: 500;
  font-size: fluid(20, 14);
  color: var(--color-light);
  background-color: var(--color-dark-20);

  @include laptop {
    padding: rem(4) rem(8);
  }
}
