@use "../../helpers" as *;

.card {
  display: flex;

  @include tablet {
    flex-direction: column;
  }

  &__preview {
    --cardIconSize: #{rem(80)};

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: fluid(60, 20);
    padding-block: rem(155);
    padding-right: rem(80);

    @include laptop {
      --cardIconSize: #{rem(60)};

      padding-block: rem(122);
      padding-right: rem(60);
    }

    @include tablet-above {
      border-right: var(--border-dark-15);
      width: 37.5%;
    }

    @include tablet {
      padding-block: rem(50);
      border-bottom: var(--border-dark-15);
    }

    @include mobile {
      --cardIconSize: #{rem(50)};
      padding-right: 0;
    }

    &-main {
      display: flex;
      flex-direction: column;
      row-gap: fluid(50, 24);
      width: 100%;

      @include tablet {
        align-items: start;
      }
    }

    &-icon {
      width: var(--cardIconSize);
    }

    &-info {
      display: flex;
      flex-direction: column;
      row-gap: fluid(16, 6);

      &:has(.card__rating-view) {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 1rem;
      }
    }

    &-extra {
      width: 100%;
      max-width: rem(550);
    }
  }

  &__body {
    --cardBodyPadding: #{rem(80)};

    padding-block: var(--cardBodyPadding);
    padding-left: var(--cardBodyPadding);

    @include laptop {
      --cardBodyPadding: #{rem(60)};
    }

    @include tablet-above {
      width: 62.5%;
    }

    @include tablet {
      --cardBodyPadding: #{rem(30)};

      padding-left: 0;
    }
  }

  &__grid {
    display: grid;

    &--2-cols {
      gap: fluid(30, 10);

      @include mobile-s-above {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &--3-cols {
      row-gap: fluid(50, 20);

      @include mobile-above {
        grid-template-columns: repeat(3, 1fr);
        column-gap: rem(16);
      }

      @include laptop-above {
        column-gap: rem(20);
      }

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    &--3-cols-alt {
      row-gap: fluid(50, 20);
      grid-template-columns: repeat(3, 1fr);

      @include mobile-above {
        column-gap: rem(16);
      }

      @include laptop-above {
        column-gap: rem(20);
      }

      @include mobile {
        column-gap: rem(10);
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &--2-cols-alt {
      grid-template-columns: auto 1fr;
      gap: rem(30) rem(20);

      @include laptop {
        gap: rem(24) rem(16);
      }

      @include mobile {
        column-gap: 0;
        grid-template-columns: 1fr;
      }
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: fluid(20, 4);

    &--wide {
      grid-column: -1/1;
    }

    &.tile {
      @include mobile-s {
        padding: rem(20);
      }
    }

    &--wide-on-mobile {
      @include mobile {
        grid-column: -1/1;
      }
    }

    &:has(> *:only-child) {
      justify-content: center;
    }

    &:has(.card__cell-link) {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: rem(20);
      row-gap: fluid(14, 10);
      justify-content: space-between;
      align-items: center;
      grid-template-areas: "body link" "body link";

      &:not(.tile) {
        @include mobile-s {
          grid-template: initial;

          .card__cell-link {
            grid-area: initial;
          }
        }
      }
    }

    &-title {
      font-family: var(--font-family-base);
    }

    &-image {
      width: 100%;
      height: fluid(332, 169);
      object-fit: cover;
      border-radius: rem(12);
    }

    &-subtitle {
      font-weight: 400;
      font-size: inherit;
      color: inherit;
    }

    &-description {
      color: var(--color-light);

      @include mobile-s {
        font-size: rem(14);
      }
    }

    &-link {
      grid-area: link;
    }
  }
}
