@use "../../helpers" as *;

.report-card {
  display: flex;
  flex-direction: column;
  row-gap: fluid(30, 20);
  height: 100%;

  &__image {
    width: 100%;
    height: rem(290);
    border-radius: rem(12);
    object-fit: cover;

    @include mobile {
      height: rem(224);
    }
  }

  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: rem(14);

    @include laptop {
      row-gap: rem(10);
    }
  }

  &__actions {
    display: flex;
    column-gap: rem(20);
    justify-content: space-between;

    @include laptop {
      column-gap: rem(10);
    }
  }

  &__ditails-link,
  &__download-link {
    width: 100%;
  }
}
