@use "../../helpers" as *;

.footer {
  background-color: var(--color-dark);
  color: var(--color-dark-40);

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    line-height: 1.3;

  }

  &__body {
    padding-block: fluid(80, 40);
    width: 100%;
    border-bottom: var(--border-dark-15);
  }

  &__menu {
    gap: fluid(80, 20);
    align-items: start;

    &-column {
      display: grid;
      row-gap: fluid(36, 16);

      @include tablet {
        row-gap: rem(28);

        &:last-child {
          grid-column: 2/-1;

          .footer__menu-list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: rem(12);
          }
        }
      }

      @include mobile {
        row-gap: rem(16);

        &:last-child {
          grid-column: 1/-1;
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: fluid(18, 8);
    }

    &-item {
      display: flex;
      justify-content: start;
      align-items: center;
      column-gap: rem(8);

      @include tablet {
        font-size: rem(14);
      }
    }

    &-button {
      padding: rem(10) rem(16);

      @include laptop {
        padding: rem(8) rem(14);
      }
    }
  }

  &__extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
    padding-block: rem(40);

    @include laptop {
      padding-block: rem(24);
    }

    @include mobile {
      flex-direction: column;
      row-gap: rem(20);
    }

    &-menu {

      &-list {
        display: flex;
      }

      &-item {
        --extraMenuItemPaddingInline: #{rem(10)};

        &:not(:last-child) {
          border-right: var(--border-dark-15);
          padding-right: var(--extraMenuItemPaddingInline);
        }

        &:not(:first-child) {
          padding-left: var(--extraMenuItemPaddingInline);
        }

        @include tablet {
          --extraMenuItemPaddingInline: #{rem(8)};
        }
      }
    }
  }

}