@use "../../helpers" as *;

.metrics {
  --columns: 3;

  @include tablet {
    padding-inline: 0;
  }
  &--4-cols {
    .metrics__list {
      --columns: 4;

      @include tablet-above {
        .metrics__item:nth-child(4n) {
          padding-right: 0;
        }
      }

      @include tablet {
        --columns: 2;

        .metrics__item:nth-child(odd) {
          border-bottom: var(--border-dark-15);
          padding-left: var(--container-padding-x);
        }

        .metrics__item:nth-child(even) {
          border-bottom: var(--border-dark-15);
          padding-right: var(--container-padding-x);

          border-right: none;
        }
      }

      text-align: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    row-gap: rem(10);
    width: 100%;
    padding-block: fluid(50, 20);
    padding-inline: fluid(50, 20);

    &:first-child {
      padding-left: 0;
    }

    &:not(:last-child) {
      border-right: var(--border-dark-15);
    }

    @include laptop {
      row-gap: rem(2);
    }

    @include mobile {
      row-gap: rem(0);
    }
  }

  &__value {
    font-weight: 600;
  }

  &__sign {
    color: var(--color-accent);
  }
}
