@use "../../helpers" as *;

.blog-actions {
  &__list {
    display: flex;
    column-gap: rem(10);

    @include laptop {
      column-gap: rem(8);
    }
  }

  &__button {
    display: flex;
    column-gap: rem(4);
    padding: rem(9.5) rem(16);
    border: var(--border-dark-15);
    border-radius: var(--border-radius-huge);
    font-family: var(--font-family-accent);
    background-color: var(--color-dark-10);
    color: var(--color-gray-60);

    @include hover {
      color: var(--color-accent);
      background-color: var(--color-dark-20);
    }

    &:last-child {
      display: flex;
      align-items: center;
    }

    @include laptop {
      column-gap: rem(2);
      padding: rem(6.5) rem(12);
    }

    &.is-active {
      svg * {
        fill: var(--color-red);
        stroke: var(--color-red);
      }
    }
  }

  &__icon-wrapper {
    --blogActionIconSize: #{rem(24)};

    @include square(var(--blogActionIconSize));

    display: flex;

    @include laptop {
      --blogActionIconSize: #{rem(20)};
    }

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}
