@use "../../helpers" as *;

.blog-card {
  display: grid;
  grid-template-columns: 24% 1fr auto;
  column-gap: fluid(50, 28);
  align-items: start;
  padding-block: fluid(80, 40);

  @include tablet {
    grid-template-columns: 1fr auto;
    row-gap: rem(30);
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: fluid(30, 20);

    @include tablet {
      grid-column: -1/1;
      order: 3;
    }
  }

  &__date {
    color: var(--color-gray-60);
  }

  &__info {
    display: grid;
    row-gap: fluid(10, 4);

    @include mobile-s {
      max-width: rem(358);
    }
  }

  &__link {
    align-self: center;
  }
}
