@use "../../helpers" as *;

.tabs {
  &__header {
    border-bottom: var(--border-dark-15);

    @include tablet {
      overflow-x: auto;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: rem(20);
    padding-block: fluid(50, 20);

    @include laptop {
      column-gap: rem(14);
    }

    &--compact {
      display: flex;
      column-gap: rem(10);
      padding: rem(10);
      border-radius: rem(10);
      background-color: var(--color-dark);

      .tabs__button {
        min-width: rem(106);
        padding-block: rem(18);

        @include laptop {
          padding-block: rem(14);
        }
      }

      .tabs__button.is-active {
        font-weight: 400;
        background-color: var(--color-dark-15);
      }
    }
  }

  &__button {
    padding: fluid(30, 18) fluid(40, 10);
    min-width: rem(151);

    &.is-active {
      background-color: var(--color-dark-10);
      color: var(--color-light);
      font-weight: 500;
      pointer-events: none;
    }
  }

  &__content {
    &:not(.is-active) {
      display: none;
    }

    &:focus-visible {
      outline-offset: -0.1rem;
    }
  }
}
