@use "../../helpers" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  animation-name: drop-shadow;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: rem(100) rem(200);

  @keyframes drop-shadow {
    to {
      box-shadow: 0px 3px 20px var(--color-gray-50);
    }
  }


  &__promo {
    padding-block: rem(20);
    border-color: var(--border-dark-15);
    text-align: center;
    background-color: var(--color-dark);

    @include mobile {
      padding-block: rem(14);
    }
  }

  &__body {
    padding-block: rem(24);
    background-color: var(--color-dark-10);

    @include mobile {
      padding-block: rem(20);
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 20px;
    }
  }

  &__overlay {
    @include mobile-above {
      display: contents;
    }

    @include mobile {
      position: fixed;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 3rem;
      padding: 1rem;
      background-color: var(--color-dark-10);
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        @include hide;
        translate: 100%;
    }
    }
  }

  &__menu {
    @include mobile {
      overflow-y: auto;
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: rem(16);

      @include mobile {
        column-gap: rem(6);
        flex-direction: column;
        row-gap: 1rem;
      }
    }

    &-link {
      padding: rem(14) rem(24);
      color: var(--color-gray-50);

      @include  laptop {
        padding: rem(10) rem(18);
      }

      &.is-active {
        border: var(--border-dark-20);
        border-radius: var(--border-radius);
        background-color: var(--color-dark);
        color: var(--color-light);
        font-weight: 500;
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }
  &__contact-us-link {
    @include mobile {
      width: 100%;
      max-width: rem(300);
      align-self: center;
    }
  }
}