@use "../../helpers/index" as *;

.video-player {
  @include linear-dark-gradient(-20%);

  &__video {
    width: 100%;
    border-radius: rem(12);

    @include laptop {
      border-radius: rem(10);
    }

    &--small {
      height: fluid(290, 208);
      object-fit: cover;
    }
  }

  &__panel {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 1rem;
    padding: rem(30);
    transition-duration: var(--transition-duration);

    &:not(.is-active) {
      @include hide;
    }

    &--center {
      justify-content: center;
      align-items: center;
    }
  }

  &__play-button {
    --size: #{rem(70)};

    @include flex-center;
    @include square(var(--size));

    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--color-dark);
    color: var(--color-light);

    @include laptop {
      --size: #{rem(50)};
    }

    & svg {
      width: 100%;
      height: 100%;
    }

    @include hover {
      color: var(--color-accent);
    }
  }

  &__duration {
    color: var(--color-gray-50);
  }
}
