@use "../../helpers/index" as *;

.table-of-contents {
  padding: rem(20);
  border-radius: rem(12);
  background-color: var(--color-dark-10);
  color: var(--color-light);

  @include laptop {
    padding: rem(18);
    border-radius: rem(10);
  }

  &__list {
    display: grid;
    row-gap: rem(20);
    list-style: disc;
    margin-left: 1.5em;

    @include laptop {
      row-gap: rem(16);
    }
  }
}
