@use "helpers" as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.full-vw-line {
  position: relative;

  &::after,
  &::before {
    position: absolute;
    width: calc(100vw - var(--container-width) / 2);
    height: rem(1);
    background-color: var(--color-dark-15);
  }

  &--top {
    &::before {
      content: "";
      bottom: 100%;
    }
  }

  &--bottom {
    &::before,
    &::after {
      content: "";
      top: 100%;
    }
  }

  &--right {
    &::after,
    &::before {
      content: "";
      left: 100%;
    }
  }

  &--left {
    &::after,
    &::before {
      content: "";
      right: 100%;
    }
  }
}

.circle-icon {
  --circleSize: #{rem(52)};
  --circleMarginLeft: #{rem(20)};

  position: relative;
  padding-right: calc(var(--circleSize) + var(--circleMarginLeft));
  min-height: var(--circleSize);

  @include laptop {
    --circleSize: #{rem(44)};
    --circleMarginLeft: #{rem(14)};
  }

  @include mobile {
    --circleSize: #{rem(40)};
  }

  &::before {
    @include square(var(--circleSize));
    @include abs-y;

    content: "";
    border-radius: 50%;
    right: 0;
    background: url("../../../icons/arrow-top-right-dark.svg") center no-repeat
      var(--color-accent);
    color: var(--color-dark-15);
  }
}
